<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Authentication</string>
			<key>FooterText</key>
			<string>Must be an already existing user account</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Username</string>
			<key>Key</key>
			<string>pref_auth_username</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Password</string>
			<key>Key</key>
			<string>pref_auth_password</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<true/>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Logging</string>
			<key>Key</key>
			<string>pref_logging_level</string>
			<key>DefaultValue</key>
			<string>INFO</string>
			<key>Titles</key>
			<array>
				<string>INFO</string>
				<string>ERROR</string>
				<string>DEBUG</string>
			</array>
			<key>Values</key>
			<array>
				<string>INFO</string>
				<string>ERROR</string>
				<string>DEBUG</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Location</string>
			<key>Key</key>
			<string>pref_logging_location</string>
			<key>DefaultValue</key>
			<string>DEVICE</string>
			<key>Titles</key>
			<array>
				<string>Device</string>
				<string>Server</string>
			</array>
			<key>Values</key>
			<array>
				<string>DEVICE</string>
				<string>SERVER</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Key</key>
			<string>pref_logging_enabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>pref_other_wtf</string>
			<key>DefaultValue</key>
			<string>WTF</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>pref_other_slider</string>
			<key>DefaultValue</key>
			<real>0.1</real>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
